<html>
<head>
<title>The formal CV</title>
</head>
<body background="background.jpg"/	>
<form>

<fieldset>
<legend><h2>Personal Information</h2></legend>

First Name: <input type="text" color="white" name="first name" > Last name : <input type="text" name="lname.">
<br><br>
Permanent Adress:
<input type="text" address="permeant address"><br>
<br>
Email:
<input type="text" email="email"><br>
<br>
Contact Number:
<input type="text"contact number="contact number"><br>
<br>
Father Name:
<input type="text" father name="father name"><br>
<br>
Date Of Birth:
<input type="date" date of birth="date of birth"><br>
<br>
Religion:
<input type="text" religion="religion"><br>
<br>
Nationality:
<input type="text" Nationality="Nationality"><br>
<br>
Gender:<br>
<input type="radio" name="gender" value="male"> Male<br>
<input type="radio" name="gender" value="female"> Female<br>
<input type="radio" name="gender" value="other"> Other
<br>
</fieldset>
<fieldset >
<legend><h2>Educational Information</h2></legend>
<table style=border: 3px solid black;>
<tr>
<th>Marks<br><input type="number"contact number=""></th>
<th>Board<br><input type="text"contact number="board"></th>
<th>Institute<br><input type="text"contact number="instute"></th>
</tr>
<tr>
<th><br><input type="number"contact number=""></th>
<th><br><input type="text"contact number="board"></th>
<th><br><input type="text"contact number="instute"></th>
</tr>
<tr>
<th><br><input type="number"contact number=""></th>
<th><br><input type="text"contact number="board"></th>
<th><br><input type="text"contact number="instute"></th>
</tr>
<tr>
<th><br><input type="number"contact number=""></th>
<th><br><input type="text"contact number="board"></th>
<th><br><input type="text"contact number="instute"></th>
</tr>
</table>


</fieldset>
<fieldset >

</table>
</feildset>
</form>
<button  style="background-color:4CAF55; padding:15px 32px";></style>
<a href="cv2.html" >Submit</a>
</button>


</body>
</html>
